<!doctype html>
<html ng-app="creative">
  <head>
    <title>Cup Game</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
      
    <div ng-controller="controlOne">
        <center>
      <span>What is your name?</span>
      <input type="text" ng-model="one">
      <button ng-click='start()' type='submit'>Submit</button>
      <hr>
      {{message}}
        <button ng-click='answerYes()' ng-show='show'>Yes!</button>
        <button ng-show='show' ng-click='answerNo()'>No</button>
        <br>
        {{reply}}
        <br>
        
        <iframe  ng-show="show2" width="560" height="315" src="https://www.youtube.com/embed/9bto_3Z1dqc?start=3&amp;&rel=0&amp;controls=0&amp;showinfo=0&amp;start=3&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
        <br>
	<span ng-show="show2">Enter your selection here (A, B, or C):</span>
        <input  ng-model="answer" ng-show="show2" type="text">
 	<button ng-show="show2" ng-click="submitAnswer()">Submit Answer</button> 
	<br>
	{{finalMessage}}
	<br>
	<iframe ng-show="show3" width="560" height="315" src="https://www.youtube.com/embed/Ux9mzp0GgcM?rel=0&amp;controls=0&amp;showinfo=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe> 
    <iframe ng-show="show4" width="560" height="315" src="https://www.youtube.com/embed/7wAmj3zannQ?rel=0&amp;controls=0&amp;showinfo=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
  	<iframe ng-show="show5" width="560" height="315" src="https://www.youtube.com/embed/rHpw0yG5umg?rel=0&amp;controls=0&amp;showinfo=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
    <br>
     <button ng-show="lastButton" ng-click="restart()">Play Again</button>
        </center>
    </div>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="code.js"></script>
  </body>
</html>
