html, body{
    height:100%; margin:0; 
}
header{
    height:100px;
    background-color: #2988bc;
}
footer{ 
    height:100px; 
    background-color: #2988bc;
    
}


body{ 
  display:flex; 
  flex-direction:column; 
  background-color: #f3e5ab;
}

footer{
  margin-top:auto; 
}
 
#finalMessage {
    font-weight: bold;
  
}
#message {
     
}
#who {
    
}
h3{
     color: white;
    margin: 0;
    padding: 0;
}
h1{
     color: white;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
    color: white;
}
